/* Footer */
#footer {
    background: #F8F8F8;
    padding-top: 30px;
}

#footer ul li {
    background-color: #f8f8f8;
}

#footer a:hover {
    color: #d1a369;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
    #about img {
        margin: 50px 0;
    }

    #menu.navbar-light .navbar-nav>li>.session {
        color: black;
        border-right: 0;
        border-left: 0;
        background: transparent;
    }
}