<div id="footer" class="main-footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 pt-4 mt-2 pl-3">
                <div class="container text-center mb-2">
                    <img class="footer-logo " src="/assets/img/hogar.png" alt="salonPeru">
                </div>
                <p class="text-center text-muted">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Velit amet id dignissimos assumenda labore numquam,
                    molestias quaerat, earum
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 pt-4 mt-2 pl-3">
                <div class="container pr-5 mb-4">
                    <h3 class="text-muted font-weight-bold">Enlaces Grupo 1</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="quienes-somos">
                            <i class="fas fa-angle-right pr-2"></i>Quiénes Somos
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="direccion-comercial">
                            <i class="fas fa-angle-right pr-2"></i>Dirección Comercial
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="nuestros-agentes">
                            <i class="fas fa-angle-right pr-2"></i>Nuestros Agentes
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 pt-4 mt-2 pl-3">
                <div class="container pr-5 mb-4">
                    <h3 class="text-muted font-weight-bold">Enlaces Grupo 2</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="nuestros-clientes">
                            <i class="fas fa-angle-right pr-2"></i>Nuestos Clientes
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="nuestros-servicios">
                            <i class="fas fa-angle-right pr-2"></i>Nuestros Servicios
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="politica-de-privacidad">
                            <i class="fas fa-angle-right pr-2"></i>Políticas de Privacidad
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="preguntas-frecuentes">
                            <i class="fas fa-angle-right pr-2"></i>Preguntas Frecuentes
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="blogs">
                            <i class="fas fa-angle-right pr-2"></i>Blogs
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 pt-4 mt-2 pl-3">
                <div class="container pr-5 mb-4">
                    <h3 class="text-muted font-weight-bold">Enlaces Grupo 3</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="contactenos">
                            <i class="fas fa-angle-right pr-2"></i>Contáctenos
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="comprar-o-alquilar">
                            <i class="fas fa-angle-right pr-2"></i>Alquilar
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-muted nav-link p-0" href="nuestros-inmuebles">
                            <i class="fas fa-angle-right pr-2"></i>Nuestros Inmuebles
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row justify-content-center align-items-center">
            <div class="text-muted num-correo text-center">
                <span> Av. Dirección Nro. 000, Lima Metropolitana</span>
                <br>
                <span><a class="text-muted ">(000) 000 0000</a></span>
                <br>
                <a class="text-muted text-justify" href="">
                    <span>salonperu.example.pe</span>
                </a>
            </div>
        </div>
        <br>
        <div class="row justify-content-center align-items-center">
            <div class="d-flex justify-content-start barra-footer">
                <ul class="social-icons margin-top-20 nav">
                    <li class="nav-item ml-auto icono2">
                        <a class="nav-link " href="https://www.facebook.com/" target="_black"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item iconoTwitter">
                        <a class="nav-link " href="https://twitter.com/" target="_black"><i
                                class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item iconoYoutube">
                        <a class="nav-link " href="https://www.youtube.com/" target="_black"><i
                                class="fab fa-youtube"></i></a>
                    </li>
                    <li class="nav-item iconoInstagram">
                        <a class="nav-link " href="https://www.instagram.com/" target="_black"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item iconoLinkedin">
                        <a class="nav-link " href="https://www.linkedin.com/" target="_black"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row ">
            <div class="container text-center">
                <p><strong>®Copyright &copy; <a href="/">Salón Perú</a>.</strong> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>