<header #header class="custom-header" [class.scrolled]="isScrolled">
    <nav class="custom-navbar">
        <button (click)="toggleNavbar()" class="custom-navbar-toggler">
            <i class="fas fa-bars"></i>
        </button>

        <div class="custom-logo">
            <div class="custom-title">
                <div class="custom-letter" *ngFor="let letter of ['S','A','L','O','N']">
                    {{letter}}
                </div>
            </div>
        </div>

        <button *ngIf="isLogged" routerLink="/publicar-inmueble" class="custom-btn-login">
            <i class="fas fa-user"></i> Publicar
        </button>
        <button *ngIf="!isLogged" (click)="openLoginModal()" class="custom-btn-login">
            <i class="fas fa-user"></i> Iniciar Sesión
        </button>

        <app-login-modal *ngIf="isLoginModalVisible" (close)="onLoginModalClose()">
        </app-login-modal>

        <div #navbarCollapse class="custom-navbar-collapse">
            <button #closeBtn class="custom-close-btn" (click)="closeNavbar()">
                <i class="fas fa-times"></i>
            </button>

            <img src="/assets/img/hogar.png" alt="Logo" height="60px">
            <p>SALON PERU</p>
            <hr>

            <ul class="custom-navbar-nav">
                <li class="custom-nav-item custom-active">
                    <a class="custom-nav-link" href="/" (click)="closeNavbar()">Inicio</a>
                </li>
                <li class="custom-nav-item">
                    <a class="custom-nav-link" routerLink="publicar-inmueble" (click)="closeNavbar()">Publicar</a>
                </li>
                <li class="custom-nav-item">
                    <a class="custom-nav-link" routerLink="#" (click)="closeNavbar()">Nuestro Blog</a>
                </li>
                <li class="custom-nav-item">
                    <a class="custom-nav-link" routerLink="/preguntas-frecuentes" (click)="closeNavbar()">Preguntas
                        Frecuentes</a>
                </li>
                <li class="custom-nav-item" *ngIf="isLogged">
                    <a class="custom-nav-link" routerLink="#" (click)="logout()">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>
</header>