<div class="row mb-5 mt-5">
    <div class="col-lg-6 m-auto">
        <h2>Tu salón, visible para todo el Perú</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eveniet, dolorum
            id voluptatum voluptas dicta quaerat ipsa praesentium cumque odio itaque qui modi
            similique! Placeat cupiditate numquam voluptatibus dolores est?
        </p>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="slider-inicio">
                <div class="slide-inicio-track">

                    <div class="slide-inicio">
                        <h3>Experiencia y Trayectoria</h3>
                        <img src="/assets/img/skills/maletin.png" alt="" class="slide-inicio-img">
                    </div>
                    <div class="slide-inicio">
                        <h3>Servicios Personalizados</h3>
                        <img src="/assets/img/skills/public-service.png" alt="" class="slide-inicio-img">
                    </div>
                    <div class="slide-inicio">
                        <h3>Portafolio de Propiedades</h3>
                        <img src="/assets/img/skills/portafolio.png" alt="" class="slide-inicio-img">
                    </div>
                    <div class="slide-inicio">
                        <h3>Equipo de Profesionales</h3>
                        <img src="/assets/img/skills/empresario.png" alt="" class="slide-inicio-img">
                    </div>

                    <div class="slide-inicio">
                        <h3>Experiencia y Trayectoria</h3>
                        <img src="/assets/img/skills/maletin.png" alt="" class="slide-inicio-img">
                    </div>
                    <div class="slide-inicio">
                        <h3>Servicios Personalizados</h3>
                        <img src="/assets/img/skills/public-service.png" alt="" class="slide-inicio-img">
                    </div>
                    <div class="slide-inicio">
                        <h3>Portafolio de Propiedades</h3>
                        <img src="/assets/img/skills/portafolio.png" alt="" class="slide-inicio-img">
                    </div>
                    <div class="slide-inicio">
                        <h3>Equipo de Profesionales</h3>
                        <img src="/assets/img/skills/empresario.png" alt="" class="slide-inicio-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>