.search-section {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url(/assets/img/intro-bg.jpeg) center center no-repeat;
    min-height: 800px;
    display: flex;
    background-size: cover;
    align-items: center;
}

/* Slogan */
.slogan-banner {
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.slogan-banner h3 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
}

.title {
    font-size: 120px;
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
}

/* Grupo de botones */
.button-group {
    --button-background: #E2BB7D;
    --button-color: #fff;
    display: flex;
    width: 100%;
    max-width: 300px;
    height: 49px;
    color: var(--button-color);
    margin: 1rem auto;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid var(--button-background);
}

.button-group button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .25s ease-in-out;
    border: none;
    outline: none;
    position: relative;
}

.button-group .active {
    background: var(--button-background);
    color: var(--button-color);
}

.button-group button:hover {
    background: var(--button-background);
    color: var(--button-color);
}

.button-group button:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: var(--button-background);
    right: 0px;
    z-index: 1;
}

/* Contenedor de búsqueda */

.search-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box {
    width: 90%;
    min-height: 40px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.search-box select {
    max-width: 30%;
    border: none;
    padding: 15px 20px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.search-box input {
    max-width: 80%;
    border: none;
    padding: 15px 20px;
    outline: none;
}

.search-box select {
    background-color: #fff;
    flex: 1;
}

.search-box input {
    flex: 2;
}

.search-box button {
    background-color: #E2BB7D;
    max-width: 20%;
    border: none;
    padding: 0 25px;
    color: black;
}


/* Responsive */
@media (max-width: 768px) {
    .search-box input {
        max-width: 50%;
    }

    .slogan-banner h3 {
        font-size: 45px;
    }
    
    .title {
        font-size: 85px;
    }
}