<div class="container-fluid search-section mb-5">
    <div class="container">
        <div class="slogan-banner text-center">
            <h3>PUBLICA, CONECTA,</h3>
            <div class="title">
                <div class="letter">C</div>
                <div class="letter">E</div>
                <div class="letter">L</div>
                <div class="letter">E</div>
                <div class="letter">B</div>
                <div class="letter">R</div>
                <div class="letter">A</div>
            </div>
        </div>

        <div class="button-group">
            <button [ngClass]="{ active: selectedButton === 'social' }" (click)="selectButton('social')">
                Social
            </button>
            <button [ngClass]="{ active: selectedButton === 'corporativo' }" (click)="selectButton('corporativo')">
                Corporativo
            </button>
        </div>

        <div class="search-container">
            <div class="search-box">
                <select>
                    <option>Bodas</option>
                    <option>Fiestas</option>
                    <option>Celebraciones</option>
                </select>
                <input type="text" placeholder="Busca por ubicación" />
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>