<div id="login-form" class="custom-login-form">
    <div class="custom-form-container">
        <h1>Proyecto Hogar</h1>
        <a href="#" class="custom-back-link" id="close-btn" (click)="closeModal()">
            <i class="fas fa-arrow-left"></i> Atrás
        </a>
        <h3>¡Hola!</h3>
        <p class="custom-description">
            Ingresa a tu cuenta y accede a los avisos que contactaste, tus favoritos, las búsquedas guardadas ¡y más!
        </p>

        <p>Ingresa tu email</p>

        <div class="custom-form-group">
            <input type="email" id="email" placeholder="Email">
        </div>

        <button class="custom-continue-btn">Continuar</button>

        <div class="custom-register-link">
            <p>¿No tienes cuenta?<br>
                <a href="www.google.com">Regístrate aquí</a>
            </p>
        </div>
    </div>
</div>